@import "screen/main.css";
@import "screen/story.css";
@import "screen/settings.css";
@import "screen/difficulty.css";
@import "screen/easyGame.css";
@import "screen/normalGame.css";
@import "screen/hardGame.css";
@import "screen/win.css";
@import "screen/lose.css";

/* font */
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pageWrapper {
  width: 900px;
  height: 600px;
  border: 3px solid tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../src/background_day.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
