#story {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.story_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story__text {
  display: flex;
  width: 500px;
  height: 380px;
  background-color: beige;
  border: 10px solid orange;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.story__text p {
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
}
.story__buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 35px;
  left: 50px;
  align-items: center;
  justify-content: center;
}

.story__main {
  display: block;
  width: 150px;
  margin: 20px 30px 0px 30px;
}

.story__wolf {
  display: block;
  position: absolute;
  width: 260px;
  left: 20px;
  bottom: 30px;
}

.story__pig1 {
  display: block;
  position: absolute;
  width: 33px;
  right: 140px;
  bottom: 165px;
}
.story__pig2 {
  display: block;
  position: absolute;
  width: 30px;
  right: 85px;
  bottom: 165px;
}
.story__pig3 {
  display: block;
  position: absolute;
  width: 27px;
  right: 20px;
  bottom: 165px;
}

.story__house1 {
  display: block;
  position: absolute;
  width: 70px;
  right: 125px;
  bottom: 170px;
}
.story__house2 {
  display: block;
  position: absolute;
  width: 70px;
  right: 60px;
  bottom: 170px;
}
.story__house3 {
  display: block;
  position: absolute;
  width: 70px;
  right: -2px;
  bottom: 170px;
}
.story__daddy {
  display: block;
  position: absolute;
  width: 120px;
  right: 38px;
  bottom: 220px;
}
