#story {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #af6cf5;
  font-family: "Noto Sans";
  font-weight: bolder;
}

.story__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 490px;
  height: 380px;
  background-color: wheat;
  border: orange 10px solid;
  border-radius: 20px;
}
.story__contents p {
  text-align: center;
  height: 380px;
  padding-top: 240px;
}
.story__contents__p2 {
  display: none;
}
.story__contents__p3 {
  display: none;
}

.story__buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 40px;
  left: 45px;
  align-items: center;
  justify-content: center;
}

.story__main {
  display: block;
  width: 75px;
  margin-left: 120px;
}

.story__wolf {
  display: block;
  position: absolute;
  width: 260px;
  left: 20px;
  bottom: 30px;
}

.story__pig1 {
  display: block;
  position: absolute;
  width: 33px;
  right: 140px;
  bottom: 165px;
}
.story__pig2 {
  display: block;
  position: absolute;
  width: 30px;
  right: 85px;
  bottom: 165px;
}
.story__pig3 {
  display: block;
  position: absolute;
  width: 27px;
  right: 20px;
  bottom: 165px;
}

.story__house1 {
  display: block;
  position: absolute;
  width: 70px;
  right: 125px;
  bottom: 170px;
}
.story__house2 {
  display: block;
  position: absolute;
  width: 70px;
  right: 60px;
  bottom: 170px;
}
.story__house3 {
  display: block;
  position: absolute;
  width: 70px;
  right: -2px;
  bottom: 170px;
}
.story__daddy {
  display: block;
  position: absolute;
  width: 120px;
  right: 38px;
  bottom: 220px;
}
