#win {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-bottom: 30px;
}
#win__pigs {
  width: 200px;
}
.win__stats {
  text-align: center;
}
#win_home{
  width: 50px;
}
